<div class="panel panel-primary">
  <div class="panel-heading">Användare</div>
  <div class="panel-body">
      Här listas användare i systemet
  </div>

  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>användarnamn</th>
        <th>förnamn</th>
        <th>efternamn</th>
        <th>epost</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="#anvandare of anvandarna">
      <tr class="active">
        <td>{{anvandare.anvandarnamn}}</td>
        <td>{{anvandare.fornamn}}</td>
        <td>{{anvandare.efternamn}}</td>
        <td>{{anvandare.epost}}</td>
        <td>
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Meny <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li *ngIf="anvandare.harRoller()"><a (click)="visaRoller(anvandare)">visa roller</a></li>
              <li *ngIf="anvandare.harTaBortAllaRollerLank()"><a (click)="taBortAllaRoller(anvandare)">ta bort alla roller</a></li>
              <li *ngIf="anvandare.harTaBortLank()"><a (click)="taBortAnvandare(anvandare)">ta bort användare</a></li>
            </ul>
          </div>
        </td>
      </tr>
      <tr *ngIf="visasRoller(anvandare)">
        <td colspan="5">
          <table class="table table-condensed">
            <thead>
              <th>namn</th>
            </thead>
            <tbody>
              <tr *ngFor="#roll of roller(anvandare.id)">
                <td>{{roll.rollNamn}}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
